[2018-05-11 06:37] Cppowboy opened #1 "When will you update the code?"
Where is the code?

[2018-05-11 06:49] lixin4ever commented on #1
@Cppowboy Thanks for your attention.

The code has not been cleaned since I am preparing my Ph.D. qualifying exam these days and don't have time to do it.

Expected online date of our code is in early June, please stay tuned.

[2018-06-21 13:21] dengyuning commented on #1
When will you release your code?

[2018-07-02 08:17] km1994 commented on #1
When will you release your code?

[2018-07-02 08:22] lixin4ever commented on #1
@km1994 Please give me your email address so that I can send you the code via email.

[2018-07-02 23:18] clairett commented on #1
Same question, when will you release your code?

[2018-07-04 10:24] bryant03 commented on #1
Hi,can you send the code via email to bryants03@163.com,please.I am also very interested in this research field. Thank you!

[2018-07-04 10:59] lixin4ever commented on #1
Hello everyone, if you need our code for research purpose, do not hesitate to drop me an email.

Also, if the code is useful for your projects, please star this repo and cite our ACL paper.

[2018-07-05 08:25] MatildaX commented on #1
Hi, I'm working on another field, and find some ideas in your work might help. Can you send your code to himatilda@163.com? Thanks a lot!

[2018-07-06 01:33] lixin4ever commented on #1
@MatildaX Sent

[2018-07-06 15:21] DrJZhou commented on #1
Hi, I am interested in this research field, and can you send your code to 1633636038@qq.com? Thanks a lot!

[2018-07-07 02:26] lixin4ever commented on #1
@12190143 Sent

[2018-07-10 04:48] daiw10 commented on #1
Hi,can you send your code to daiw01518385@163.com . I am also very interested in your research. Many thanks!

[2018-07-10 08:03] lixin4ever commented on #1
@daiw10 Sent

[2018-07-11 08:34] xymcsu commented on #1
Hi,can you send your code to xymcsu@foxmail.com . I am also very interested in your research. Many thanks!

[2018-07-12 02:15] lixin4ever commented on #1
@xymcsu Sent

[2018-07-16 08:24] nadaxgo commented on #1
340440056@qq.com     3Q3Q

[2018-07-16 12:36] km1994 commented on #1
Hi,can you send your code to 13484276267@163.com . I am also very interested in your research. Many thanks!

[2018-07-18 07:13] chosenone75 commented on #1
Hi, well-written paper and nice work !!!  I am also very interested in ABSA, could  I get a copy of your complete source code to reproduce your work, my E-mail is lebronran@gmail.com , thanks a lot.

[2018-07-21 01:38] lixin4ever commented on #1
@nadaxgo @km1994 @chosenone75  Sent

[2018-07-21 03:06] lixin4ever commented on #1
Thanks @12190143 to help me to fix the bug in the code, which is critical to the classification performance. If you guys still have any problems, feel free to contact me.

[2018-07-24 02:06] ipp123456 commented on #1
359890642@qq.com  thank you for sharing.

[2018-07-29 09:37] FallingSlowly commented on #1
@lixin4ever Hi, would you mind to send the code to njautravis@gmail.com? I've read your paper and it is a nice work!

[2018-07-29 15:55] lixin4ever commented on #1
@FallingSlowly Sent

[2018-08-02 07:11] yunyunandruirui commented on #1
Hi, I 'm interested in this research field, and would you mind to send your code to xxyun_yun@163.com? Thanks a lot!

[2018-08-29 07:13] catjuting commented on #1
Hi,can you share your code to me. I am also very interested in your research. This is my email, 1130729577@qq.com. Thanks a lot!

[2018-08-30 10:31] YiLing28 commented on #1
DavidLingM@163.com,Thanks a lot!

[2018-09-03 11:52] lixin4ever commented on #1
@catjuting @lingdavid  I will send the code to you as soon as possible.

[2018-09-04 11:21] Jorigorn commented on #1
@lixin4ever  Hi, please send me one jorligorn@gmail.com

Thanks a lot. :)

[2018-09-06 11:13] lixin4ever commented on #1
@catjuting @lingdavid @Jorigorn Sent

[2018-09-13 14:31] zgdzgdzgd commented on #1
I am a student and I am also very interested in your research,can you send your code to 863691914@qq.com please,thanks.

[2018-09-14 07:58] lixin4ever commented on #1
@zgdzgdzgd Sent

[2018-09-18 07:35] ghost commented on #1
I am a student and I am interested in your paper. Could you please send me your code implementation to daxintan@gmail.com? Thank you a lot! By the way, may I know how long is the ordinary training time of this model?

[2018-09-20 11:45] lixin4ever commented on #1
@DaxinTan Sent

[2018-09-21 09:35] yufuin commented on #1
Hi, I am interested in your paper. Could you send me your code?
yufuinian@gmail.com
Thanks a lot.

[2018-09-24 02:49] xieyufei1993 opened #2 "what does the /p,/n,/0 means?"
what does the /p,/n,/0 means in the dataset/14_semeval_rest/train.txt?
@lixin4ever

[2018-09-25 14:43] lixin4ever commented on #2
positive, negative and neutral sentiment respectively.

[2018-09-26 07:58] lixin4ever commented on #1
@yufuinn Sent

[2018-09-28 03:15] nanguoshun commented on #1
@lixin4ever , dear Lixin, would you please share your code, my email address is:  nanguoshun@gmail.com,  thanks a lot!

[2018-09-29 06:18] lixin4ever commented on #1
@nanguoshun Sent

[2018-09-30 01:55] refuoe commented on #1
@lixin4ever Hi Lixin, may you kindly share your code with me at refuoemokhosi@yahoo.com. Thanks!

[2018-09-30 02:13] lixin4ever commented on #1
@refuoe Sent

[2018-10-05 09:12] lizekang commented on #1
@lixin4ever Hi, Lixin, I'm very interested in your paper, could you send me your code at zekangli97@gmail.com? Thanks a lot!

[2018-10-08 07:07] lixin4ever commented on #1
@lizekang Sent

[2018-10-08 09:01] WadeYin9712 commented on #1
@lixin4ever Hi, Lixin, I'm very interested in your paper, could you send me your code at 814090890@qq.com? Thanks!

[2018-10-08 09:49] YanghangXu commented on #1
@lixin4ever Hi, Lixin, I'm very interested in your paper, could you send me your code at 1366287975@qq.com? Thanks!

[2018-10-10 12:30] JHWen commented on #1
Hello,Lixin. I am very interested in your paper.Could you send me your code at 1940098534@qq.com? Thank you very much!

[2018-10-10 13:26] lixin4ever commented on #1
@WadeYin9712 @YanghangXu @JHWen Sent

[2018-10-15 06:39] XiandaGuo commented on #1
Hello,Lixin. I am very interested in your paper.Could you send me your code at xianda_guo@163.com? Thanks!

[2018-10-16 06:00] lixin4ever commented on #1
@guoxianda Sent

[2018-10-17 04:11] zhouchx commented on #1
Hello,Lixin. I am very interested in your paper.Could you send me your code at zhouchx9@mail2.sysu.edu.cn? Thank you so much!

[2018-10-17 06:28] ThiagoSousa commented on #1
Hi! Do you mind sharing the code, please? My email is thiagosousasilveira@gmail.com.

Thank you very much!

[2018-10-19 13:26] LiuChiachi commented on #1
Hi, Lixin. I am new to this research field and interested in sentiment recognition, and can you send your code to me? My E-mail address is liujiaqi.it@gmail.com. Thanks a lot!

[2018-10-20 01:34] Echoyyyy commented on #1
Hi, Lixin, i am doing this research, and Could you send your code to my mail echo_yang@bupt.edu.cn?Please. Thanks a lot.

[2018-10-20 12:18] lixin4ever commented on #1
@zhouchx @ThiagoSousa @LiuChiachi @Echoyyyy Sent

[2018-10-21 08:13] karencceeee commented on #1
Hi, Lixin, Could you send your code to my mail chenchen.karen@gmail.com? thanks a lot.

[2018-10-25 01:08] lixin4ever commented on #1
@karencceeee Sent

[2018-10-31 02:37] codesoftwind commented on #1
Hi, Lixin, I'm very interested in your paper. Could you please send your code to my email liupsoftwind@163.com? thank you very much!

[2018-11-01 02:03] tori22 opened #3 "func_words.txt"
I'm interested in your code. I want to know how you use func_words.txt. Are there any tricks?

[2018-11-01 02:12] lixin4ever commented on #3
Actually, it is not used in our experiment.

[2018-11-05 14:14] Imorton-zd commented on #1
@lixin4ever Would you please share your code, my email address is: dzhangsuda@qq.com, thanks a lot!

[2018-11-06 05:50] redinton commented on #1
@lixin4ever  Hi,LiXin, your team's work is really amazing, would you please send me your code via jason961217@gmail.com thanks again!

[2018-11-19 03:59] jiangtaojy commented on #1
@lixin4ever i'm very interested in your paper, could you please send your code to my email?my email address is: jiangt59@mail2.sysu.edu.cn, thanks a lot!

[2018-11-20 13:45] SherryShen9 commented on #1
@lixin4ever. Hi, Lixin, i am a student and doing this research. Could you please send your code to my mail @1403195437@qq.com? Please. Thanks a lot.

[2018-11-22 14:02] Clitost commented on #1
@lixin4ever  Hi.Lixin.I am very  interested in your network,could you please send your code to my mail
632127161@qq.com.Thank you so much!

[2018-11-25 07:35] lixin4ever commented on #1
@monsterspeaking @syl007 @Clitost Sent

[2018-11-28 07:06] Echoyyyy opened #4 "Maybe I find a bug in data preprocessing stage"
hello, lixin. I'm interested in your code. And I try to read and reimplement your code. However, I find a issue. In utils.py read() function,
[code]
these codes will remove the letter ‘n’, 'p',  and '0' located in  the beginning and end of the words.
Such as：
[code]
`shee`

Hence, this will lead data error, and then the input of TNet maybe error.
May i know what is this all about？why are you doing

[2018-11-28 08:02] NaitangTian opened #5 "code"
Hello,can you share your code to me. I am very interested in your research. This is my email, 719771993@qq.com. Thank you very much!!!

[2018-11-28 08:31] lixin4ever commented on #4
Yes, Thanks for pointing out this problem.

Here, the statements .strip("\n"), .strip("\p") and .strip("\0") are to remove the sentiment tag on the target word (please check the data files).

As mentioned in your comments, these statements will indeed additionally remove the leading and the ending 'n', 'p' characters in the target word, which is ignored in our experiments and may introduce some OO

[2018-11-28 08:37] #3 closed

[2018-11-28 08:38] #2 closed

[2018-11-28 08:40] lixin4ever commented on #5
@NaitangTian Sent

[2018-11-28 09:14] #5 closed

[2018-11-28 13:23] Echoyyyy commented on #4
Not like this.
This problem not only removes  the leading and the ending 'n', 'p' characters in the target word, but every word in the sentence will lost 'n', 'p' characters.

And，I fix this error in your code. To be astonished, TNet doesn't work. However, TNet with error input datas works very well.

I think the reason why TNet performs so good is the mistakes in data processing.

[2018-11-28 14:29] lixin4ever commented on #4
In the original code, **only** the target words (i.e., the words containing strings "/p", "/n" or "/0") will be stripped with the variable "end". When the word is not target word, we do nothing.

This preprocessing error is accidental and the reason is that I use the .strip() function in an incorrect way.

Directly removing the last two characters for the target words should be correct.

I also fi

[2018-11-29 10:19] Echoyyyy commented on #4
oh, Sorry.  It is my mistake.  It is true that this error occurs when word is target.

I replaced  `.strip(end)` with `.split(end)[0]`,  and the model outperforms 72.4(acc) on Twitter and 72.16 (acc) on Laptop.

Could you tell me how to fix this error, please?

[2018-11-29 10:39] lixin4ever commented on #4
The result on Laptop dataset is abnormal. You can try to align your settings (e.g., version of theano, pygpu, cuda and cudnn) to those in the README.

[2018-12-06 06:56] GeneZC commented on #1
@lixin4ever Could you please send your code to my email [gene_zhangchen@163.com](url) for research use? Thanks in advance!

[2018-12-07 05:57] lixin4ever commented on #1
@lixin4ever Sent

[2018-12-09 10:46] MasterFishfish commented on #1
@lixin4ever hello,  i am a student and I am very interested in your network! Could you please send your code to my email tusimplefishfish@foxmail.com? Thank you very much

[2018-12-10 09:23] lixin4ever commented on #1
@MasterFishfish Sent

[2018-12-12 08:33] mojave-pku commented on #1
@lixin4ever hello, could you please send me your code to my email hlz@pku.edu.cn for research use? Thanks a lot.

[2018-12-13 13:22] BigHeartC commented on #1
@lixin4ever  hi~, could you please send me your code to my email bigheart_c@163.com for research use? Thanks very much!

[2018-12-13 13:37] lixin4ever commented on #1
@HuangLianzhe @BigHeartC Sent

[2018-12-13 13:51] #4 closed

[2018-12-14 03:22] nan0606 commented on #1
@lixin4ever
hi~, I'm a student and doing this research. Could you send your code to my mail qiannan_xu@163.com. Thank you very much!

[2018-12-15 06:55] AnqiLeee commented on #5
hello! i'm also very interested in this paper. could you please share your code to me? my email is 260752732@qq.com . THANKS!! :)

[2018-12-18 10:59] lixin4ever commented on #1
@nan0606 Sent

[2018-12-20 02:14] r05323028 commented on #1
@lixin4ever hello, I'm interesting in aspect-level sentiment analysis recently and found that you have this amazing work! could you please send your code to my mail r05323028@ntu.edu.tw. Thanks!

[2018-12-20 07:00] a3226672 commented on #1
Hi, Lixin, Could you send your code to my email 372178827@qq.com? Thank you very much!

[2018-12-24 06:15] lixin4ever commented on #1
@r05323028 @a3226672 Sent

[2019-01-02 02:57] Pro0Izzie commented on #1
@lixin4ever Hi, I'm doing some research on aspect-based sentiment analysis. Could you send your code to my mailbox im.izzie.yu@gmail.com? Thank you very much.

[2019-01-04 14:28] lixin4ever commented on #1
@Pro0Izzie Sent

[2019-01-06 06:23] guoyan1996 commented on #1
Hi,can you send your code to 1028109394@qq.com. I am also very interested in your research. Many thanks!

[2019-01-09 11:22] ghost commented on #1
hi @lixin4ever
I am self-study emotional analysis and would like to learn about your code. Can you send me a copy?
swdailh@gmail.com
thank you very much.

[2019-01-11 08:28] lixin4ever commented on #1
@guoyan1996 @ccnankai Sent

[2019-01-11 11:36] daisy654 commented on #1
Hi,can you share your code to me. I am also very interested in your research. This is my email, shgrcr@163.com. Thanks a lot!

[2019-01-11 14:49] ghost commented on #1
@lixin4ever   Thank you very much

[2019-01-14 01:09] wusx00 commented on #1
Hi, could you please share your code with me? I'm interested in your research and hope to know more details about it. Thank you very much !
My email is sixingwu@outlook.com

[2019-01-16 08:17] r05323028 commented on #1
hello everyone,
this is the TNet tensorflow version which is implemented by me, but it still has some problems and can't reach the reported results. Could someone give me some suggestions?
https://github.com/r05323028/TNet-tensorflow

[2019-01-16 10:19] r05323028 commented on #1
Okay, I found the problem by myself... I forget shuffle on each epoch lol

[2019-01-17 14:52] BigHeartC opened #6 "there is a error when run the model in long text"
hello, Lixin. Thanks for your code firstly.
when I run TNet on a new dataset which is much longer than 14semeval and max length is 613, I met an error as below :
[code]

I follow the advice in [https://github.com/Theano/Theano/issues/689](URL)  and add code as below, but it didn't output anything for a long time.
[code]

How to fix this error in TNet when run on dataset with long text? Could you g

[2019-01-18 16:49] liangtianxin commented on #1
154069247@qq.com  thank you so much.

[2019-01-19 03:59] lixin4ever commented on #6
1. Set a larger value of recursion limit, e.g., 20000
2. When RNN is processing the very long sequences, the BPTT is time-consuming and this is a probable reason that the program didn't output anything for a long time. May you can change BPTT to truncated BPTT and see what happen.

[2019-01-19 04:04] lixin4ever commented on #1
@liangtianxin Sent

[2019-01-20 02:06] BigHeartC commented on #6
Thank Lixin, the first is work for me!

[2019-01-20 02:06] #6 closed

[2019-01-28 09:21] apmoore1 commented on #1
Hi,
Would it be possible to get a copy of the code:
andrew.p.moore94@gmail.com

Thanks,
Andrew.

[2019-02-17 06:43] 1973Blunt commented on #1
hi @lixin4ever. Can you send me the code? My email is 913247579@qq.com.

[2019-02-19 08:35] BigFaceWangCY commented on #1
Hi,can you send your code to [weizhaojing@outlook.com](mailto:weizhaojing@outlook.com) . I am also very interested in your research. Many thanks!

[2019-02-23 02:03] liaoyulei commented on #1
Hi, can you send me your code? My email is lyulei@126.com. Thank you very much!

[2019-02-24 02:26] htlAllen commented on #1
Hello, i feel so sorry to bother you. But i really interested in your research and hope get further understanding by reading your code. email: yyisawesome@163.com . thank you

[2019-02-24 03:37] lixin4ever commented on #1
@1973Blunt @BigFaceWangCY @liaoyulei @htlAllen Sent

[2019-02-25 01:48] qq740379 commented on #1
Hello, I'm sorry to bother you, could you send me your code for improving my reading of your article,Thanks
my email:740379775@qq.com

[2019-02-26 08:11] jepyh commented on #1
For ABSA result comparison. 417191043@qq.com Thx.

[2019-02-28 15:05] beihangwenbin commented on #1
Hello,I want to get your code for research! There is my e-mail:1326407080@qq.com,thanks.

[2019-03-04 06:48] lixin4ever commented on #1
@qq740379 @jepyh @beihangwenbin Sent

[2019-03-12 08:08] CodeWithCat commented on #1
hello,can u send your code to me ? im really interest in  your research  and i wang to have a try,thank you
email: nlpdreamer2018@gmail.com

[2019-03-13 12:21] HandsomeW opened #7 "need help"
Hi,can you send the code via email to 1546600487@qq.com. Thank you!

[2019-03-15 01:53] lixin4ever commented on #7
@HandsomeW Sent

[2019-03-15 01:53] lixin4ever commented on #1
@nlpdestiny Sent

[2019-03-18 20:15] ksyash commented on #1
Hi, Li Xin. Could you please share your code, i am currently exploring possibilities for aspect based analysis, my email: o_kachaniuk@hotmail.com  Thank you in advance

[2019-03-20 04:48] lixin4ever commented on #1
@ksyash Sent

[2019-03-20 10:54] blue772001 commented on #1
Hello, Could you send me your source code?
my email is blue772001@gmail.com
Thank you in advance.

[2019-03-27 13:48] oldstree commented on #1
Hi,Li Xin,Could you please share you code, my email: chengshiwen@mail.nwpu.edu.cn ,Thank you in advance

[2019-03-27 13:59] lixin4ever commented on #1
@blue772001 @oldstree Sent

[2019-03-27 14:03] oldstree commented on #1
Thanks

[2019-03-27 14:04] blue772001 commented on #1
Thank you a lot.

2019년 3월 27일 (수) 오후 11:03, rabbit <notifications@github.com>님이 작성:

[2019-03-30 07:54] skywindy commented on #5
Hello! i'm also very interested in this paper and the idea,and I want to try it with my data.  could you please share your code with me? my email is 760201005@qq.com . Thanks very much.

[2019-03-31 12:27] lixin4ever commented on #5
@AnqiLeee @skywindy Sent

[2019-04-03 08:31] WanphiaYu commented on #1
Hi, Li Xin. Could you please share your code, i am currently exploring possibilities for user preference analysis, my email: 386899284@qq.com    Thank you in advance

[2019-04-04 08:33] tyj1997 commented on #1
305099672@qq.com thanks!

[2019-04-06 04:49] lixin4ever commented on #1
@WanphiaYu @tyj1997 Sent

[2019-04-08 07:51] Bogerchen commented on #1
Thanks for your impressive work! Could you please send me your code for further research? My email is chenchb7@mail2.sysu.edu.cn . Thanks a lot!

[2019-04-08 13:29] weihuiHong commented on #1
Could you please share you code? I am also very interested in your research. My email: weihui_Hong@outlook.com . Thanks!

[2019-04-09 04:47] yuanmingchen commented on #1
你好，我最近在做相关研究，可以把代码发给我吗，我的邮箱是：mcyuan@ir.hit.edu.cn。谢谢！

[2019-04-10 04:31] weihuiHong commented on #1
你好，作者目前还没有发代码给我，如果你手边已经有了这份代码，可不可以发给我一份

发件人: yuanmc <notifications@github.com>
答复: lixin4ever/TNet <reply@reply.github.com>
日期: 2019年4月9日 星期二 12:47
收件人: lixin4ever/TNet <TNet@noreply.github.com>
抄送: weihuiHong <weihui_Hong@outlook.com>, Comment <comment@noreply.github.com>
主题: Re: [lixin4ever/TNet] When will you update the code? (#1)

你好，我最近在做相关研究，可以把代码发给我吗，我的邮箱是：mcyuan@ir.hit.edu.cn<mailto:mcyua

[2019-04-10 05:11] lixin4ever commented on #1
@Bogerchen @weihuiHong @yuanmingchen Sent

[2019-04-10 07:42] Bogerchen commented on #1
Thank you very much!

[2019-04-10 10:57] mmollayi commented on #1
cyrus.yazdgerd3@gmail.com Thanks in advance.

[2019-04-10 11:00] mahdiipm commented on #1
very impressive work. could you please send me the code ?
mahdi.ipm98@gmail.com

[2019-04-11 02:10] venusafroid commented on #1
Hi, I am interested in this research field, and can you send your code to h_n_ing@163.com? Thanks a lot!

[2019-04-11 12:51] JucaiYue commented on #7
Hi,can you send the code via email to 372459718@qq.com. Thank you!

[2019-04-11 14:54] lixin4ever commented on #1
@mahdiipm @venusafroid Sent

[2019-04-11 14:54] lixin4ever commented on #7
@Steven-Yue Sent

[2019-04-13 12:26] liyuwe commented on #1
Hi， I am a student who is busy in graduation design work and I sincerely hope that you could send your code to liyuwei513@163.com. Thank you very much!

[2019-04-15 09:49] superzhangxing commented on #7
Hi, can you send the code via email to 932628972@qq.com. Thank you!

[2019-04-16 08:18] bbcfox opened #8 "How are hyper-parameters tuned?"
Hi, Li Xin!
In your paper, all hyper-parameters are tuned on 20% randomly held-out training data to adjust the hyper-parameter collection.

But, based on your code, I don't observe any separating procedure for training examples.
How are hyper-parameters tuned?  Only base on test examples?

[2019-04-16 10:16] finn-verse commented on #1
Hey, Li Xin. Would you please share your code with me. I am very interested in your work. Thank you in advance!

[2019-04-16 10:53] lixin4ever commented on #8
1. The code for hyper-parameter tuning is independent to the train-test experiment and thus we do not add it into the codebase.
2. The process of selecting hyper-parameters is below:
    (1) We firstly prepare a set of candidate values for each hyper-parameter (e.g., the candidate values for $dim_h$ is [50, 100, 150]).
    (2) We train the model on the 80% training data and evaluate its performanc

[2019-04-16 10:59] lixin4ever commented on #7
@superzhangxing Sent

[2019-04-16 11:00] lixin4ever commented on #1
@liyuwe @Finnism Sent

[2019-04-16 11:06] finn-verse commented on #1
Thanks!

[2019-04-16 11:08] liyuwe commented on #1
Thank you very much!

[2019-04-16 11:54] bbcfox commented on #8
Thanks for your response.
According to the main file, the number of training iteration is set to 100, and you saved all these test results.  How can I get the final accuracy and F1 score? Use the mean value or the highest one?
As the number of training iteration has significant influence on experiment results for small datasets.

[2019-04-16 12:30] lixin4ever commented on #8
In principle, the final results should be the results obtained in the epoch 100. However, the training is quite unstable due to the small size of the training dataset and thus the **number of training iterations (epochs)** should be carefully determined.

For TNet-LF, you can pick the results obtained from epoch 25 or 30 (i.e., set the number of training iterations as 25 or 30)

For TNet-AS, you c

[2019-04-28 09:07] anonymous4review5 commented on #1
Hi,can you send your code to 413954551@qq.com . I am also very interested in your research. Many thanks!

[2019-05-05 02:36] Raphael95 commented on #1
@lixin4ever, it's a pleasant work，could you please send me the code? Raphael-95@outlook.com, thanks a lot

[2019-05-06 03:57] lixin4ever commented on #1
@myforever @Raphael95 Sent

[2019-05-14 13:02] YHTtTtao commented on #7
Hi,can you send the code via email to 1012366283@qq.com. Thank you!

[2019-05-15 05:43] bbcfox commented on #8
thanks!

[2019-05-15 05:43] #8 closed

[2019-05-17 13:49] Eudoraaa commented on #7
Hi,could you send the code via email to wei_fangna@163.com. Thank you!

[2019-05-18 13:54] HaopengZhang96 commented on #1
Hi，Would you please share your code with me.. I have stared your repo. My email zhanghaopeng96@163.com, I also sent an email to your cuhk email.

[2019-05-18 14:43] lixin4ever commented on #7
@Eudoraaa @YHTtTtao Sent

[2019-05-18 14:45] lixin4ever commented on #1
@HaopengZhang96 Sent

[2019-05-21 06:09] leon20121005 commented on #7
Hi, could you send the code via email to leon20121005@gmail.com, Thank you!

[2019-05-25 10:37] dengdy111 commented on #7
Hi,can you send the code via email to 944364270@qq.com. Thank you!

[2019-05-27 01:52] lixin4ever commented on #7
@leon20121005 @dengdy111 Sent

[2019-06-02 06:51] YHTtTtao opened #9 "why add the convolution layer?"
LSTM can already capture the position information，why you add a position-aware convolution layer？

[2019-06-03 01:53] lixin4ever commented on #9
Here, the position information refers to the position relevance between the current hidden representation and the given aspect/target representation. LSTM can indeed capture the target-specific position information in an implicit way (i.e., closer (to the target) is more important). Our design is to explicitly incorporate such information into the convolutional feature extractor.

[2019-06-11 07:17] YHTtTtao commented on #9
Thank you for your answer! I want to add the calss of Absolute_Position_Embedding and the for recurrent part in my module，and I added them after the lstm and attention，but I got the Value Error:expected sequence of length 7 at dim1(got 1),how can I handle it?

[2019-06-26 01:34] SizzleWang commented on #1
hi  I am a student who is interested in your reserch. Can you send your code to ascendswang@gmail.com. Thank you!

[2019-06-26 02:02] lixin4ever commented on #1
@SizzleWang Sent

[2019-06-26 02:05] SizzleWang commented on #1
Thank you！

[2019-07-08 12:12] Angelinaa commented on #1
hi, Li Xin. I am a student interested in your research. Can you send your code to 911319433@qq.com? Thank you very much!

[2019-07-09 02:32] lixin4ever commented on #1
@Angelinaa Sent

[2019-07-10 03:53] a385430526 opened #10 "where can i get this code"

[2019-07-10 03:56] a385430526 commented on #10
Hi,can you send the code via email to bryants03@163.com,please.I am also very interested in this research field. Thank you!

[2019-07-10 03:56] a385430526 commented on #10
Hi,can you send the code via email to 385430526@qq.com. Thank you!

[2019-07-10 10:43] lixin4ever commented on #10
@a385430526 Sent

[2019-07-10 16:15] 9ayhub commented on #1
Could you show me the code？My email is 354787627@qq.com，thanks！

[2019-07-11 05:36] lixin4ever commented on #1
@9ayhub Sent

[2019-07-17 06:08] moon1314 commented on #1
Hello, I am a student interested in your research, could you send the code to me please?My Email is illidanying@163.com, thank you!

[2019-07-17 06:33] lixin4ever commented on #1
@moon1314 Sent

[2019-07-18 11:26] Determined22 commented on #1
Hi Xin Li,
I'd like to know some implementation details about TNet. Could you share the code with me?
My email: weipenghui2016@ia.ac.cn

Thanks.

[2019-07-19 01:21] lixin4ever commented on #1
@Determined22 Sent

[2019-07-22 07:20] vivienfanghua1 commented on #10
Can you share your code to vivienfanghua@gmail.com? Thank you!

[2019-07-23 07:20] lixin4ever commented on #10
@vivienfanghua1 Sent

[2019-07-31 07:11] Monica9502 commented on #10
Could you send the code via email to floraxj@outlook.com ? Thanks!

[2019-08-01 04:12] lixin4ever commented on #10
@rachelMmmmm Sent

[2019-08-03 13:31] cjw245929674 commented on #1
Hello, Xin Li,
I am a student, I am very interested in your paper. Could you share the code with me?
My email: 245929674@qq.com
Thanks.

[2019-08-04 01:28] cjw245929674 commented on #10
Hello, Xin Li,
I am a student, I am very interested in your paper. Could you share the code with me?
My email: 245929674@qq.com
Thanks.

[2019-08-04 03:11] hiyouga commented on #1
Hello, I am interested in your research, could I request your code for personal research? Thanks! My email: 467089858@qq.com

[2019-08-04 03:16] lixin4ever commented on #1
@cjw245929674 @hiyouga Sent

[2019-08-04 03:17] lixin4ever commented on #10
@cjw245929674 Sent

[2019-08-09 12:17] venusafroid opened #11 "error: narrowing conversion of '138' from 'int' to 'char' inside { } [-Wnarrowing]"
Hi,

When I try to run TNet model, I have error like this:

/home/dm/.theano/compiledir_Linux-4.15--generic-x86_64-with-debian-stretch-sid-x86_64-3.6.9-64/tmp4ejrz036/mod.cpp:19:0: error: narrowing conversion of '138' from 'int' to 'char' inside { } [-Wnarrowing]
/home/dm/.theano/compiledir_Linux-4.15--generic-x86_64-with-debian-stretch-sid-x86_64-3.6.9-64/tmp4ejrz036/mod.cpp:19:0: error: narrowin

[2019-08-12 09:24] venusafroid commented on #11
I have solved this problem by creating new environment :)

[2019-08-13 13:49] akhilvirat commented on #10
Respected, Xin Li,
I am a student currently pursuing an undergraduate degree. Could you share the code with akhilveeru119@gmail.com ?
Thanks.

[2019-08-13 13:58] lixin4ever commented on #10
@akhilvirat Sent

[2019-08-21 03:19] hellozjj commented on #10
Could you send the code via email to  1720500091@qq.com ? Thanks!

[2019-08-21 03:21] hellozjj commented on #1
can you send your code to 1720500091@qq.com  please,thanks.

[2019-08-21 07:39] lixin4ever commented on #10
@hellozjj Sent

[2019-08-21 07:48] hellozjj commented on #10
@lixin4ever  Thanks.
Best.

[2019-09-02 03:11] Italian-PAO commented on #1
1410430449@qq.com thank you so much

[2019-09-02 07:41] luoluoluoyl commented on #10
Hello, Could you share the code with me? My email: luoyali000@163.com    Thanks.

[2019-09-05 09:36] lixin4ever commented on #10
@luoluoluoyl Sent

[2019-09-11 08:44] Huxhh commented on #10
Hello, Could you send the code via email to 563255387@qq.com ? Thanks !

[2019-09-11 10:54] lixin4ever commented on #10
@Huxhh Sent

[2019-09-14 03:01] fuyahuii commented on #10
Hello, Xin Li,
L am a student in Tianjin University and l am really interested in your paper, could you share the code with me to fuyahui@tju.edu.cn?
Thanks!

[2019-09-17 02:54] lixin4ever commented on #10
@luckygirlfyh Sent

[2019-09-18 01:28] YilimZhu commented on #10
Hello, Could you send the code via email to ylzhu1996@qq.com? Thanks!

[2019-09-18 01:49] lixin4ever commented on #10
@YilimZhu Sent

[2019-09-30 08:51] bayou3 commented on #10
Hello, can you share a copy of your code to e-mail of bayou3@qq.com ?
Thanks!

[2019-09-30 17:02] lixin4ever commented on #10
@bayou3 Sent

[2019-10-12 12:14] weiziyao commented on #10
Hello, Could you send the code via email to icxwei@gmail.com ? Thanks !

[2019-10-13 12:36] lixin4ever commented on #10
@weiziyao Sent

[2019-10-13 12:37] #11 closed

[2019-10-13 12:37] #9 closed

[2019-10-13 12:37] #7 closed

[2019-10-28 14:07] rsanshierli commented on #10
Hello, Could you share the code with me?
My email: 470294527@qq.com Thanks.

[2019-10-28 14:15] lixin4ever commented on #10
@rsanshierli Sent

[2019-10-31 06:02] bidoudhd commented on #10
Hello, Could you share the code with me?
My email: donghede@163.com Thanks.

[2019-10-31 07:59] Guangzidetiaoyue commented on #10
Hi,LiXin,
I am new in ABSA, today I have read your paper and I‘m interested in your work,could you share the code with me to 1617776173@qq.com.
Thanks!

[2019-10-31 08:50] lixin4ever commented on #10
@bidoudhd @Guangzidetiaoyue Sent

[2019-11-02 07:47] wuzhen247 commented on #10
Hi, Li Xin, I‘m interested in your work, and could you please share the code with me via email: aaronzark@163.com. Thanks.

[2019-11-03 01:15] lixin4ever commented on #10
@wuzhen247 Sent

[2019-11-03 11:57] stevenDW commented on #10
Hi, Li Xin, I‘m interested in your work, and could you please share the code with me via email: 1244272162@qq.com. Thanks.

[2019-11-03 23:48] lixin4ever commented on #10
@stevenDW Sent

[2019-11-19 01:43] TangJiaLong opened #12 "An error in 'read' function about TNet. Specifically in utils.py"
Hello, THX for your shared code of TNet.
However, I observed that an error in "read" function about TNet. Specifically, in utils.py:
words.append(t.strip(end))
target_words.append(t.strip(end))

if use t.strip(), it will cause an error , such as 'nicki/n'.strip('/n') the ouptut is 'icki' rather than 'nicki'
when I try to use t[:-2] to replace t.strip():
words.append(t[:-2])
target_words.append(t[:

[2019-11-19 03:09] lixin4ever commented on #12
Yes, you are right. Such pre-processing error indeed affects the final performances (1-2% accuracy drop).  You can refer to [issue 4](https://github.com/lixin4ever/TNet/issues/4) for more information.

Considering this pre-processing error and the issue that theano is no longer maintained, I highly recommend you to use [ABSA-pytorch](https://github.com/songyouwei/ABSA-PyTorch), a pytorch-based imp

[2019-11-21 06:57] songpuc commented on #10
Hi,Li Xin. Sorry to trouble you,but could you please share your code to songpu@iie.ac.cn? Thank you!

[2019-11-21 08:38] lixin4ever commented on #10
@songpuc Sent

[2019-11-24 11:50] lushishuai commented on #10
Hi,Li Xin. Sorry to trouble you,but could you please share your code to 506781013@qq.com? Thank you!

[2019-11-25 02:45] lixin4ever commented on #10
@lushishuai Sent

[2019-11-25 03:36] zhangxin9988 commented on #10
Hello, Xin Li,
I am a student currently learning deep neural networks. Could you please share the code with 17803861990@163.com ?
Thanks very much .

[2019-11-25 04:23] lixin4ever commented on #10
@zhangxin9988 Sent

[2019-11-28 10:01] Hongze-Wang commented on #1
Hi, can u send a copy of your code to wanghongzecn@qq.com, thanks a lot.

[2019-11-28 12:51] lixin4ever commented on #1
@Hongze-Wang Sent

[2019-12-05 09:13] seethumia commented on #10
Hello, Xin Li,
could you send your code to seethumia.02@gmail.com
Thank u

[2019-12-05 15:31] lixin4ever commented on #10
@seethumia Sent

[2019-12-16 13:28] yzc1103 commented on #10
Hello, Xin Li,
I am a student currently learning deep neural networks. Could you please share the code with 772096235@qq.com ?
Thanks very much .

[2019-12-17 02:52] lixin4ever commented on #10
@yzc1103 Sent

[2019-12-24 06:19] zthhao commented on #1
Hi, i'm a student interested in your research, can you sent your code to 308573239@qq.com, thanks a lot.

[2019-12-24 13:22] lixin4ever commented on #1
@zthhao Sent

[2019-12-24 13:48] zthhao commented on #1
Thank you

[2019-12-24 13:49] logoutAgain commented on #1
Hi, I am interested in your study. Can u send me your code? 519941624@qq.com  thx!

[2019-12-24 13:51] lixin4ever commented on #1
@liangzihong Sent

[2020-01-12 02:54] freesunshine0316 commented on #1
Code? freesunshine0316@gmail.com

[2020-01-12 05:49] lixin4ever commented on #1
@freesunshine0316 Sent

[2020-01-15 04:04] #1 closed

[2020-02-12 08:55] lsllay commented on #10
Hello, Xin Li.
Sorry to trouble you. Could you please share the code to 316195572@qq.com?
Thank you very much!

[2020-02-12 11:34] lixin4ever commented on #10
@lsllay Sent

[2020-02-14 00:03] thealexgrossman commented on #10
Hi, could you share the code to agro@mit.edu? Thank you so much in advance

[2020-02-14 02:39] lixin4ever commented on #10
@thealexgrossman Sent

[2020-02-20 10:43] angryha commented on #10
Hello,could you please share the code to 545022688@qq.com?Thank you!!!

[2020-02-20 11:25] lixin4ever commented on #10
@angryha Sent

[2020-02-21 07:47] YouAreSpecialToMe commented on #10
Hello,could you please share the code to1417448433@qq.com?Thanks.

[2020-02-21 07:47] YouAreSpecialToMe commented on #10
Hello,could you please share the code to 1417448433@qq.com?Thanks

[2020-02-21 15:29] lixin4ever commented on #10
@YouAreSpecialToMe Sent

[2020-03-13 02:24] caucsunjiahui commented on #10
Can you share your code to jhsun_yjs16@163.com? Thank you!

[2020-03-13 02:31] lixin4ever commented on #10
@caucsunjiahui Sent

[2020-04-05 14:36] shiminghui581 commented on #10
CAN you please share the code to 312023405@qq.com?Thanks!

[2020-04-06 03:04] lixin4ever commented on #10
@shiminghui581 Sent

[2020-04-06 13:28] CCChenhao997 commented on #10
Hello, li xin! Can you share the code to me via ccchenhao997@qq.com ? Thank you!

[2020-04-07 07:16] lixin4ever commented on #10
@CCChenhao997 Sent

[2020-04-11 08:08] 16182659 commented on #10
Hi,li xin! Could you please share the code to 995750106@qq.com? Thank you!

[2020-04-11 15:00] lixin4ever commented on #10
@16182659 Sent

[2020-04-14 10:46] yangbaiyu commented on #10
Hi,li xin! Could you please share the code to 2290988270@qq.com? Thanks!

[2020-04-14 11:36] lixin4ever commented on #10
@yangbaiyu Sent

[2020-04-17 07:14] lemonadeseason commented on #10
Hi,li xin! Could you please share the code to 1248774880@qq.com? Thank you!

[2020-04-18 03:42] lixin4ever commented on #10
@lemonadeseason Sent

[2020-04-24 14:21] flyangovoyang commented on #10
Hi, Li xin, Could you please share the code to flyangovoyang@163.com? Thank you very much!

[2020-04-24 14:25] lixin4ever commented on #10
@flyangovoyang Sent

[2020-06-04 08:53] Gaoshuang77 commented on #10
Hello, Li Xin,
I am a student and I am very interested in your paper. Could you share the code with me?
My email: 941266535@qq.com
Thanks. :）

[2020-06-04 14:37] lixin4ever commented on #10
@Gaoshuang77 Sent

[2020-06-09 09:04] galbya commented on #10
Hello, Li Xin,
I am a student and I am very interested in your paper. Could you share the code with me?
My email: 2968059619@qq.com
Thank you

[2020-06-09 09:43] gpf951101 commented on #10
Hello, Xin Li.
Sorry to trouble you. Could you please share the code to gpf951101@163.com?
Thank you very much!

[2020-06-09 09:53] lixin4ever commented on #10
@galbya @gpf951101 Sent

[2020-06-19 09:01] student-mayuko commented on #10
Hello, Xin Li,
I am a student in Tsukuba University and l am really interested in your paper, could you share the code with me to s2020633@s.tsukuba.ac.jp?
Thanks!

[2020-06-19 09:17] lixin4ever commented on #10
@student-mayuko Sent

[2020-07-08 12:19] songjinjian-1995 commented on #10
Hello, Could you share the code with me?
My email: 1213626953@qq.com Thanks.

[2020-07-08 13:56] lixin4ever commented on #10
@songjinjian-1995 Sent.

[2020-07-08 17:42] Sheekin opened #13 "code required for research"
could you share your code to heekinsixten@gmail.com?

[2020-07-09 03:32] lixin4ever commented on #13
@Sheekin Sent

[2020-07-28 01:35] dongyang12138 opened #14 "code"
could you share your code to dongyang12138@163.com?

[2020-07-28 11:30] lixin4ever commented on #14
@dongyang12138 Sent

[2020-08-17 08:11] sabyasachee commented on #10
Hello, can you please share the code with me?
My email is sbaruah@usc.edu. Thanks.

[2020-08-17 13:30] lixin4ever commented on #10
@sabyasachee Sent

[2020-08-20 15:00] Dyleaf opened #15 "code for research"
could you share your code to dyleaf@foxmail.com ?

[2020-08-21 06:01] lixin4ever commented on #15
@Dyleaf Sent

[2020-09-01 05:47] amurtadha opened #16 "could you please specify the learning rate you used"

[2020-09-03 01:33] lixin4ever commented on #16
Sorry for the late reply.

Please try the default settings of adam, i.e., set lr=0.001 and betas=(0.9, 0.999)

[2020-09-15 10:17] AbhishekD15 commented on #15
Hi,

I am working on my research project. Could you please share your code at  a1772359@student.adelaide.edu.au

[2020-09-15 15:44] lixin4ever commented on #15
@AbhishekD15 Sent

[2020-09-25 07:07] furukawayuan-Yao commented on #15
could you share your code to  [furukawayuan@163.com](url) for research? Thanks alot!😀

[2020-10-16 14:31] swift-zsw commented on #15
Hello, I am a student, I am very interested in your paper. Could you share the code with me?
My email: 645947083@qq.com
Thanks.

[2020-10-18 07:56] lixin4ever commented on #15
@swift-zsw Sent

[2020-10-26 08:44] Linjz1 opened #17 "关于《Sentiment Commonsense Induced Sequential Neural Networks for Sentiment Classification》的学术请求"
您好，请问您是否可以发送给我论文的源码、数据集和必要的信息用于学术研究？这篇论文提供的github链接访问不了。谢谢您的阅读，期望您早日回复！        邮箱：  n190327055@fzu.edu.cn

[2020-10-28 04:57] azaitangqiao commented on #10
Hello, Could you share the code with me?My email: 1757516181@qq.com Thanks.

[2020-11-03 13:59] PranjalGupta2199 commented on #15
Hello,
I am working on a research project. Could you please share your code to f20170124@hyderabad.bits-pilani.ac.in?

[2020-11-05 01:58] lixin4ever commented on #15
@PranjalGupta2199 Sent

[2021-01-02 08:08] loganzhang1 commented on #15
Hi, LiXin, I'm researching in this field, Could you please share your code to 2677684261@qq.com ?
Thanks a lot.

[2021-01-05 01:30] lixin4ever commented on #15
@loganzhang1 Sent

[2021-01-07 04:34] fucheng1214 commented on #10
Hello, Li Xin~
I am very interested in your paper.  Could you share the code with me?
My email: ruyanguo1206@163.com
It would be a great honor to receive your reply~Thanks!!!

[2021-01-07 08:03] lixin4ever commented on #10
@fucheng1214 Sent

[2021-01-08 12:43] kqsgdka commented on #15
could you share your code to kllsgdka@gmail？Thank you very much！

[2021-01-10 03:21] lixin4ever commented on #15
@kqsgdka Sent

[2021-02-19 11:31] YiTangJ opened #18 "Request for the code"
Respected, Xin Li,
I am a student currently pursuing an undergraduate degree. Could you share the code with tyj_sd@mail.shiep.edu.cn ?
Thanks.

[2021-02-19 11:46] lixin4ever commented on #18
@YiTangJ Sent

[2021-02-20 01:55] YiTangJ commented on #18
Thanks

[2021-02-20 01:55] #18 closed

[2021-02-25 17:57] Rakshith-Karthikeya opened #19 "Code Required"

[2021-02-25 18:15] Rakshith-Karthikeya commented on #10
Hello, Li Xin Sir
I am Very interested in your paper. Could u please share the code with me??
it would be very helpful
my email: rakshithkarthikeya@gmail.com
And thank you for sharing!

[2021-02-25 18:15] #19 closed

[2021-02-26 05:05] lixin4ever commented on #10
@Rakshith-Karthikeya Sent

[2021-03-04 02:18] wenk207 commented on #15
Hello,
I am working on a research project. Could you please share your code to li17669498364@163.com？
think

[2021-03-07 03:13] lixin4ever commented on #15
@wenk207 Sent

[2021-03-08 11:08] kqsgdka commented on #15
thank you.

[2021-03-21 01:23] wangwei609 commented on #15
Hi, LiXin, Could you please share your code to 609371985@qq.com ?

[2021-03-30 12:02] lixin4ever commented on #15
@wangwei609 Sent

[2021-03-31 14:30] VirgilG72 commented on #15
could you share your code to 619790446@qq.com

[2021-04-02 02:45] lixin4ever commented on #15
@VirgilG72 Sent

[2021-04-26 12:47] reedcii commented on #10
Hello, Li Xin, I am a student and I am very interested in your paper. Could you share the code with me?
My email: 2223548715@qq.com
Thanks!

[2021-04-27 12:45] lixin4ever commented on #10
@reedcii Sent

[2021-04-28 08:23] dingtingtings commented on #10
Hello, Li Xin,
I am a student and I am very interested in your paper. Could you share the code with me?
My email: 2951962331@qq.com
Thank you

[2021-05-05 08:35] lixin4ever commented on #10
@dingtingtings Sent

[2021-05-14 04:05] xszaaaaa commented on #15
could you share your code to 369530556@qq.com ?    Thanks very much!

[2021-05-14 12:42] lixin4ever commented on #15
@xszaaaaa Sent

[2021-05-14 12:42] #14 closed

[2021-05-14 12:42] #13 closed

[2021-05-15 01:07] wangwei609 commented on #15
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "lixin4ever/TNet"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月14日(星期五) 晚上8:42
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [lixin4ever/T

[2021-05-15 01:44] xszaaaaa commented on #15
thanks！

[2021-07-29 05:12] henrylin777 commented on #15
could you share your code to henry19960722@gmail.com ?
Thanks!!

[2021-07-31 08:02] lixin4ever commented on #15
@linhungyu Sent

[2021-08-31 09:11] CMM915915 opened #20 "Can you share your code ：mengmengcui915@gmail.com?"
Can you  provide your code about your paper?I am very  grateful  for your contribution.I like  sentiment analysis  very much .

[2021-08-31 09:16] CMM915915 commented on #15
Could you  share your  code to CMM915915@gmail.com?I am very interested in your work,Thank you  very much

[2021-08-31 09:17] CMM915915 commented on #20
Thank you  very much.

[2021-08-31 09:22] lixin4ever commented on #15
@CMM915915 Sent

[2021-08-31 09:25] lixin4ever commented on #20
Hello

Is "CMM915915@gmail.com" a valid email address? I try to send the email to you but the delivery failed.

[2021-08-31 09:45] CMM915915 commented on #15
Thanks   a  lot  @lixin4ever

[2021-08-31 09:48] CMM915915 commented on #15
I am sorry about  that,My  email  is  mengmengcui915@gmail.com.please  send again,Sorry

[2021-08-31 09:50] CMM915915 commented on #20
sorry,it s not mine,my email  is  mengmengcui915@gmail.com.I have  just  wrote  it wrong.can  you  send again?

[2021-08-31 09:53] lixin4ever commented on #20
Sent.

[2021-08-31 09:54] lixin4ever commented on #15
Sent

[2021-08-31 09:54] #20 closed

[2021-11-18 09:59] cpyhhh commented on #15
Hello. Sorry to bother you. I am a student studying about ABSA. Could you please send me a code for me to learn? My email is: 2661646585@qq.com Thanks very much!

[2021-11-18 12:10] lixin4ever commented on #15
@cpyhhh Sent

[2021-11-25 11:03] lxianl455 commented on #15
Hi.Could you please share your code to 2223738326@qq.com? Thanks a lot.

[2021-11-25 11:04] CMM915915 commented on #15
ok，which&nbsp; code？

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "LI ***@***.***&gt;;
发送时间: 2021年11月25日(星期四) 晚上7:03
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [lixin4ever/TNet] code for research (#15)

Hi.Could you please share your code to ***@***.***? Thanks a lot.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it

[2021-11-25 12:13] lixin4ever commented on #15
@lxianl455 Sent

[2021-12-06 09:18] JoannaSimm commented on #10
Hello Li Xin,
Thank you for the interesting paper! Could you share the code with me?
My email: feainnewed@gmail.com
Thank you

[2021-12-07 01:13] lixin4ever commented on #10
@JoannaSimm Sent

[2021-12-23 07:29] iamanshika commented on #15
Hello, I am currently working on my research project. Could you please send the code to anshika.18bcon123@jecrcu.edu.in
Thanks in advance!

[2021-12-24 04:29] lixin4ever commented on #15
@iamanshika Sent

[2021-12-29 06:28] yunbujian commented on #15
could you pls share your code to addie.zmy@gmail.com, Thanks in advance!

[2021-12-30 06:25] lixin4ever commented on #15
@minionssso Sent

[2022-06-27 02:55] 995934 commented on #10
Hello Li Xin,
I am a student and I am very interested in your paper. Could you share the code with me?
My email:995934902@qq.com
thank you very much